
.gradle/5.6.2/fileChanges/last-build.bin
.gradle/5.6.2/fileHashes/fileHashes.lock
.gradle/5.6.2/gc.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/vcs-1/gc.properties
.idea/$PRODUCT_WORKSPACE_FILE$
.idea/codeStyles/codeStyleConfig.xml
.idea/gradle.xml
.idea/misc.xml
.idea/vcs.xml
.gradle/5.6.2/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/5.6.2/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
